<h1>New User</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
    <% @user.errors.full_messages_for(:username).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.text_field :password %>
    <% @user.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :street_address %><br>
    <%= form.text_field :street_address %>
    <% @user.errors.full_messages_for(:street_address).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :variety_name %><br>
    <%= form.collection_select :province_id, Province.order(:name), :id,:name %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>