<span class="is-size-3 has-text-centered"><h1>Username: <%= @user.username %></h1></span><br>
<span class="is-size-3 has-text-centered"><h1>Address: <%= @user.street_address %></h1></span><br>
<span class="is-size-3 has-text-centered"><h1>Province: <%= @user.province.name %></h1></span><br>


<h2 class="is-size-5 has-text-centered">Orders:</h2>

<div class="columns is-centered">
  <div class="column is-half is-offset-one-quarter">
<% @user.orders.each do |order| %>
  <div class="box">
  <p>
    <strong>Order #: <%= link_to order.id, order_path(order) %> - $<%= order.price %></strong>
  </p>
  <p>
    <strong>Date: <%= order.created_at %> - Status: <%= order.status %></strong>
  </p>
  <p>
    <%= link_to "Edit", edit_order_path(order), class: "button is-light" %>
  </p>
  </div>
<% end %>
</div>
</div>