<h1>Username: <%= @user.username %></h1>

<p>Address: <%= @user.street_address %></p>
<p>Province: <%= @user.province.name %></p>

<h2>Orders:</h2>
<% @user.orders.each do |order| %>
  <p>
    <strong>Order #: <%= link_to order.id, order_path(order) %> - $<%= order.price %></strong>
  </p>
  <p>
    <strong>Date: <%= order.created_at %> - Status: <%= order.status %></strong>
  </p>
<% end %>