<h1>New Order</h1>


<%= form_with model: @user do |form| %>
  <div>
        <li>User: <%=current_user.username %></li>
  </div>
  <div>
        <li>Address: <%=current_user.street_address %>, <%=current_user.province.code %></li>
  </div>
<ul>
    <% cart.each do |product| %>
        <li>
            <%= product.name %>:

            <%= form_with url: update_quantity_path(product), method: :update_quantity do%>
                <%= number_field_tag 'quantity', session[:shopping_cart][product.id.to_s].to_i, min: 1 %>
                <%= button_tag 'Edit quantity'%>
            <% end %>
            <%= link_to "Remove Item", cart_path(product), method: :delete %>
        </li>
        <li>
            Price: <%= product.price %>
            <% ProvinceTax.find_each do |provincial_tax| %>
                <% if provincial_tax.province_id == current_user.province.id %>
                  <%= provincial_tax.tax.amount %>
                <% end %>
            <% end %>
        </li>
    <% end %>
</ul>
Total Price: [INSERT PRICE HERE]

  <div>
    <%= form.submit %>
  </div>
<% end %>