<span class="is-size-4 has-text-centered"><h1>Order #: <%= @order.id %></h1></span><br>
<span class="is-size-6 has-text-centered"><p>Status: <%= @order.status %></span><br>
<span class="is-size-6 has-text-centered"><p>Price: $<%= @order.price %></p></span><br>
<span class="is-size-6 has-text-centered"><p>Taxes: $<%= @order.tax_amount %></p></span><br>
<span class="is-size-5 has-text-centered"><h2>Products:</h2></span><br>

<div class="columns is-centered">
  <div class="column is-half is-offset-one-quarter">
<% @order.products.each do |product| %>
  <p class="box">
    <%= link_to product.name, product %> - Quantity: <%= product.order_product.take.quantity %> @ $<%= product.order_product.take.bought_price %>
  </p>
<% end %>


<%= form_with url: checkout_create_path, remote: true do %>
    <%= button_tag 'Proceed to Payment'%>
<% end %>
<%= link_to "Proceed to Checkout", checkout_create_path, remote: true %>
</div>
</div>
<%# add if statement for order status with shipped date and paid date ex from product.show%>
<%# add loop for products %>