<%= form_with model: product do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% product.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.text_field :price %><br>
    <% product.errors.full_messages_for(:price).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :variety_name %><br>
    <%= form.collection_select :variety_id, Variety.order(:name), :id, :name %><br>
  </div>

   <div class="field">
            <%= form.label :on_sale %>
        <%= form.select :on_sale, [["No", 1], ["Yes", 2]] %>
    <% product.errors.full_messages_for(:on_sale).each do |message| %>
      <div><%= message %></div>
    <% end %>
 </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
