<div class="tile">
<label>Search: </label>
<%= form_with(url: search_products_path, method: :get, local: true) do %>
<%= select_tag "search_filter", options_from_collection_for_select(Variety.order(:name), :id, :name), include_blank: true %>
<div>
    <%= text_field_tag(:keywords, nil, class: "input", placeholder: 'Search For Product by name or description') %>
    <%= hidden_field_tag(:some_column, "TEST")  %>
</div>
<div>
    <%= submit_tag("Search", class: "button") %>
</div>
<% end %>

<label>Filter: </label>
<%= form_with(url: filter_products_path, method: :get, local: true) do %>
  <%= select_tag "filter", options_for_select([["On Sale", "On Sale"], ["Recently Updated", "Recently Updated"]], ),{include_blank: 'Select Filter'} %>
  <%= submit_tag 'Filter' %>
<% end %>
</div>
<div class="tile is-parent is-flex-wrap-wrap is-6 has-text-centered is-align-content-space-evenly">
  <% @products.each do |product| %>
<div class="tile is-parent is-align-content-space-evenly">
    <div class="tile is-child box">
      <%= link_to product.name, product %>: $<%= product.price %>
</div>
    </div>
  <% end %>
</div>
</div>
<%= paginate @products %>