<h1>Blend Name: <%= @product.name %></h1>
<% if @product.image.present? %>
  <div class="card-image">
    <figure class="image">
      <%= image_tag @product.image %>
    </figure>
  </div>
<% end %>

<p>Price: $<%= @product.price %></p>

<% if @product.on_sale == 1 %>
 <p>Is this on sale?: No</p>
<% else %>
 <p>Is this on sale?: Yes</p>
<% end %>

<p>Description: <%= @product.description %></p>

<ul>
  <li><%= link_to "Edit", edit_product_path(@product) %></li>
  <li><%= link_to "Delete", product_path(@product),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

<% if cart.include?(@product) %>

  <%= form_with url: update_quantity_path(@product), method: :update_quantity do%>
    <%= number_field_tag 'quantity', session[:shopping_cart][@product.id.to_s].to_i, min: 1 %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= button_tag 'Edit quantity'%>
  <% end %>
  <%= button_to cart_path(@product), method: :delete do %>
    Remove from cart
  <% end %>
<% else %>
  <%= form_with url: cart_index_path, method: :post do%>
    <%= hidden_field_tag(:id, @product.id) %>
    <%= number_field_tag 'quantity' %>
    <%= button_tag 'Add to cart'%>
  <% end %>
<% end %>


<%= render @product.variety %>