<h1>Blend Name: <%= @product.name %></h1>
<% if @product.image.present? %>
  <div class="card-image">
    <figure class="image">
      <%= image_tag @product.image%>
    </figure>
  </div>
<% end %>

<p>Price: $<%= @product.price %></p>

<% if @product.on_sale == 1 %>
 <p>Is this on sale?: No</p>
<% else %>
 <p>Is this on sale?: Yes</p>
<% end %>

<p>Description: <%= @product.description %></p>

<ul>
  <li><%= link_to "Edit", edit_product_path(@product) %></li>
  <li><%= link_to "Delete", product_path(@product),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

<%= render @product.variety %>