<!DOCTYPE html>
<html>
  <head>
    <title>Website</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <ul>
      <li>
        Cart
        <% if cart.present? %>
          <sup><%= cart.size %></sup>
          <ul>
            <% cart.each do |product| %>
              <li>
                <%= product.name %>:

                <%= form_with url: update_quantity_path(product), method: :update_quantity do%>
                  <%= number_field_tag 'quantity', session[:shopping_cart][product.id.to_s].to_i, min: 1 %>
                  <%= button_tag 'Edit quantity'%>
                <% end %>
                <%= link_to "Remove Item", cart_path(product), method: :delete %>
              </li>
            <% end %>
          </ul>
          <%= link_to "Proceed to Checkout", cart_path(product), method: :delete %>
        <% end %>
      </li>
    </ul>
  </nav>
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p><%= flash[:alert] %></p>
  <% end %>
    <br><ul>
      <% if user_signed_in? %>
        <li><%= link_to "Hi, #{current_user.username}", edit_user_registration_path %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li><br>
        <%= link_to "Your Account Page", user_path(current_user.id) %><br>
      <% else %>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <% end %>
    </ul>

    <br><%= link_to "Home Page", products_path %><br>

    <%= yield %>
  </body>
</html>
