<!DOCTYPE html>
<html>
  <head>
    <title>Website</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3"></script>
  </head>

  <body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to "Home Page", products_path, class: "navbar-item" %>

        <%= link_to "Our Varieties", varieties_path, class: "navbar-item" %>

        <%= link_to "Our Coffee", products_path, class: "navbar-item" %>

      </div>

      <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
              <strong class="navbar-item">
                Cart:
                <% if cart.present? %>
                  <%= cart.size %>
                <% else %>
                  <%= 0 %>
                <% end %>
              </strong>
        <% if cart.present? %>
          <ul>
            <% cart.each do |product| %>
                <div class="navbar-dropdown">
              <li>
               <%= product.name %>:

                <%= form_with url: update_quantity_path(product), method: :update_quantity do%>
                  <%= number_field_tag 'quantity', session[:shopping_cart][product.id.to_s].to_i, min: 1 %>
                  <%= button_tag 'Edit quantity'%>
                <% end %>
                <%= link_to "Remove Item", cart_path(product), method: :delete %>
              </li>
            <% end %>
          <hr class="navbar-divider">
          <%= link_to "Proceed to Checkout", new_order_path, class: "navbar-item" %>
                </div>
        </ul>

        <% end %>
      </div>
        <div class="navbar-item">
          <div class="buttons">
            <% if user_signed_in? %>
      <div class="navbar-item has-dropdown is-hoverable">
              <strong class="button is-primary has-dropdown is-hoverable"><%= current_user.username %></strong>
              <div class="navbar-dropdown">
                <%= link_to "Edit Account Information", edit_user_registration_path, class: "navbar-item" %>
                <%= link_to "Your Account Page", user_path(current_user.id), class: "navbar-item" %>
                <hr class="navbar-divider">
                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "navbar-item" %>
              </div>
    </div>
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "button is-light" %>
            <% else %>
              <%= link_to 'Sign In', new_user_session_path, class: "button is-primary" %>
              <%= link_to 'Sign Up', new_user_registration_path, class: "button is-primary" %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </nav>
  <span class="is-size-1 has-text-centered"><h1>Java The Hutt</h1></span><br>
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p><%= flash[:alert] %></p>
  <% end %>
    <%= yield %>
  </body>
</html>
